In [1]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num %2 == 0 else print("odd")

even

In [5]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [7]:
age = 18
category = "Adult" if age >= 18 else "Minor"
print(category)

Adult

In [15]:
num = 0
result = "Positive" if num > 0 else "Negative" if num < 0 else "Zero"
print(result)

Zero

In [23]:
L =[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [25]:
[x for x in L if x%2 == 0]

[2, 10, 56]

In [27]:
[x for x in L if x%2 != 0]

[1, 9, 89]

In [29]:
 d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65], 'Prem':[76,98,91,87]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65], 'Prem': [76, 98, 91, 87]}

In [33]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5, 'Prem': 88.0}

In [35]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [39]:
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [45]:
#Write a user defined function to
Greet with "Good Morning" : with your name

Call the function with your name

SyntaxError: invalid syntax (393799888.py, line 2)